@let recentGames = this.DashboardState().RecentGames;

<div class="overview-info-boxes">
  <overview-info-boxes
    boxTitle="Last game played"
    [numberShown]="this.DashboardState().RecentGames?.games?.at(0)?.name ?? ''"
  />
  <overview-info-boxes
    boxTitle="Total hours played"
    [numberShown]="this.TotalHoursPlayed() + `hs`"
  />
  <overview-info-boxes
    boxTitle="Hours last 2 weeks"
    [numberShown]="this.HoursWeek() + `hs`"
  />
  <overview-info-boxes
    boxTitle="Games owned"
    [numberShown]="this.DashboardState().UserOwnedGames?.game_count ?? 0"
  />

  <overview-info-boxes
    boxTitle="Friend count"
    [numberShown]="this.DashboardState().FriendList?.friends?.length ?? 0"
  />
</div>

<section class="overview-graphs">
  @if (recentGames?.games != null) {
  <overview-time-graph [data]="recentGames?.games!" />
  } @else {<overview-time-graph [data]="[]" />}

  <div class="graphs-inline">
    <span class="graph">
      <h4>Favorite platforms</h4>

      @if (this.PieChartData().length) {
      <overview-pie-chart [data]="this.PieChartData()" />
      } @else { <overview-pie-chart [data]="[]" />}
    </span>

    <div class="never-played">
      <h4>Games you have and never played</h4>
      <span class="never-played-list">
        @if(this.DashboardState().UserOwnedGames?.games) { @for (game of
        this.DashboardState().UserOwnedGames?.games ?? []; track game.appid) {
        <overview-never-played [game]="game"></overview-never-played>
        } }
      </span>
    </div>
  </div>

  <overview-heatmap [data]="[]" />
</section>
