:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
  padding: 20px;
  border: 5px;
  max-width: 1200px;
  margin: auto;
}

h4 {
  color: var(--dark2-color);
  text-align: center;
}

.overview-info-boxes {
  display: flex;
  gap: 40px;
  margin-bottom: 10px;
}

.overview-graphs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}

.graphs-inline {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.never-played {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;

  & > span {
    height: 500px;
    overflow-y: scroll;
  }
}

.never-played-list {
  width: 400px;
}
