<!-- <header></header> -->
<main class="dashboard-layout">
  <aside class="sidebar">
    <h2 class="logo">
      Logo
      <img src="/svgs/chevron-arrow.svg" class="arrow-svg" />
    </h2>
    <ul class="sidebar-menu">
      <li>
        <h5>Menu</h5>
        <a> General</a>
      </li>
      <li>
        <h5>Endpoints</h5>
        <a>Owned Games</a>
        <a>Friends</a>
      </li>
    </ul>

    <span class="info-account"><!-- steam acc --></span>
  </aside>
  <article class="main-graphs">
    <h2 class="heading-title">{{ this.dashboardState() }}</h2>

    @switch (this.dashboardState()) { @case ("Not found") { } @case ("General")
    { <dashboard-overview></dashboard-overview>
    } @case ("Owned Games") { }@case ("Friends") { } @default {
    <div class="loading">
      <img src="/svgs/loading.svg" class="loading-svg" />
    </div>
    } }
  </article>
</main>
<!-- <footer></footer> -->
