* {
  color: var(--dark1-color);
}

.dashboard-layout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: clamp(150px, 175px, 200px);
  padding: 20px 10px;
  background-color: var(--white1-color);

  & > .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--white2-color);
    background-color: #cdcdcd;
    border-radius: 10px;
    padding-top: 10px;
    gap: 10px;

    & > img {
      width: 75px;
      height: 75px;
      border-radius: 3px;
    }

    & > h4 {
      text-align: center;
      word-break: break-word;
      font-size: 1.1rem;
      font-weight: 600;
      color: var(--dark1-color);
    }
  }
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  gap: 30px;

  & > .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.3em;
    text-align: center;
  }

  & > .sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > li {
      display: flex;
      flex-direction: column;
      gap: 10px;

      & > h5 {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--white3-color);
      }
      & > a {
        padding: 10px 15px;
        border-radius: 4px;
        color: var(--dark3-color);

        &:hover {
          background-color: var(--white2-color);
          color: var(--dark1-color);
          cursor: pointer;
        }
      }
    }
  }
}

.main-graphs {
  padding: 40px 30px 20px 30px;
  flex-grow: 1;
  overflow-y: auto;

  .heading-title {
    font-size: 1.9em;
    font-family: var(--Poppins);
    margin-bottom: 30px;
  }
}

.arrow-svg {
  padding: 4px;
  background-color: var(--white2-color);
  border-radius: 6px;
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: var(--white3-color);
  }
}
