.landing {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background: var(--dark1-color);
  z-index: 0;

  & > .main-section {
    flex-grow: 1;
  }
}

/*! HEADER  */

.landing-title {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  margin-top: 20px;
  padding: 0px 30px;
}

.svgGithub {
  width: 30px;
  height: 30px;
  color: var(--white1-color);
  fill: var(--white1-color);
}

/*! MAIN  */

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-list {
  position: absolute;
  inset: 0;
  width: 100%;
  height: fit-content;
  background: var(--white2-color);
  top: 100%;
  border-radius: 6px;

  & > .user-card {
    position: relative;
    height: max-content;
    padding: 6px 10px;
    display: flex;
    gap: 10px;

    & > .user-info {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      padding: 5px 0;

      & > .user-name {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--dark2-color);
      }
      & > .user-logoff {
        color: var(--accent2-color);
        font-size: 0.9em;
      }
    }

    & + .user-card::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1.5px;
      background: var(--dark1-color);
      opacity: 0.6;
      inset: 0;
      transform: translate(0, 0px);
    }
  }
}

.user-avatar {
  width: 50px;
  height: 50px;
  border: 1px solid var(--dark2-color);
  border-radius: 4px;
  background: var(--dark2-color);
}

.user-info > * {
  color: var(--dark2-color);
}
