@let steamName = ['S', 't', 'e', 'a', 'm'];
<article class="landing">
  <header class="landing-title">
    <h2 class="title">
      <!-- lightning -->
      <div class="circle" aria-hidden></div>
      <div class="circle" aria-hidden></div>
      <div class="circle" aria-hidden></div>
      How much time I've wasted on <br />

      <span class="steam-title">
        @for (letter of steamName; track $index) {
        <p [style]="'animation-delay: calc(' + $index + '* 0.4s) !important;'">
          {{ letter }}
        </p>
        }
      </span>
    </h2>
  </header>

  <section class="main-section">
    <form class="landing-form" (submit)="$event.preventDefault()">
      <label for="steamId"
        >Enter your Steam ID:
        <input
          (input)="onInputChange($event)"
          type="text"
          id="steamId"
          name="steamId"
          minlength="3"
          autocomplete="off"
          placeholder="e.g: 76561197960435530, ohnePixel"
          required
        />
      </label>
      @if (userName.hasError('minlength')) {
      <form-error-message
        errorName="Vanities URL's should be at least more than 3 characters"
      />
      } @if ( userName.dirty && userName.hasError('required')) {
      <form-error-message errorName="Field is required" />
      }

      <!-- <button type="submit">Submit</button> -->
      @if (showUsers().length > 0 ) {
      <div class="users-list">
        @for (user of showUsers(); track $index) {
        <a [routerLink]="`/dashboard/${user.profile_url}`" class="user-card">
          <img
            [src]="user.avatarfull"
            alt="User avatar"
            class="user-avatar"
            (error)="onErrorImg($event)"
          />

          <span class="user-info">
            <h5 class="user-name">{{ user.persona_name }}</h5>
            <p class="user-logoff">{{ user.lastlogoff }} ago</p>
          </span>
        </a>
        }
      </div>
      }
    </form>
  </section>

  <footer class="landing-footer"></footer>
</article>
